{% macro recursiveComments(comment) %}
    {% if comment is array %}
        {% for key in comment|keys %}
            {% if key is string %}
                <li>{{ key }}</li>
            {% endif %}
        {% endfor %}

        <ul>
            {% for key, subComment in comment %}
                {{ _self.recursiveComments(subComment) }}
            {% endfor %}
        </ul>
    {% else %}
        <li>{{ comment }}</li>
    {% endif %}
{% endmacro %}

<!doctype html>
<html lang="en">
{% include 'head.html.twig' %}
<body onload="ingredientsViewInit()">
<div class="container-fluid">
    <div id="bevasarlokozpont">
        <h3 class="text-success">Bevásárlóközpont:</h3>
        <p>{{ supermarket.name }}</p>
    </div>

    <div id="foods" class="table-responsive">
        <h3 class="text-success">Ételek ({{ foods.toArray|length }} db):</h3>
        <table class="table table-bordered">
            <thead class="bg-light-orange">
                <tr>
                    <th scope="col">Kép</th>
                    <th scope="col">Étel</th>
                    <th scope="col">Recept</th>
                    <th scope="col">Kommentek</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for food in foods.toArray %}
                    <tr>
                        <td class="row-thumbnail">
                            <div class="food-thumbnail col-sm-12 col-md-8 col-lg-6 col-xl-4">
                                {% if food.thumbnailUrl %}
                                    <img src="{{ food.thumbnailUrl }}" alt="{{ food }}" class="img-fluid img-thumbnail">
                                {% endif %}
                            </div>
                        </td>
                        <td>{{ food }}</td>
                        <td><a href="{{ food.recipeUrl }}" target="_blank">{{ food.recipeUrl }}</a></td>
                        <td>
                            {% from _self import recursiveComments %}
                            {% for comment in food.comments %}
                                {{ recursiveComments(comment) }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="form-check form-switch">
        <input
                type="checkbox"
                role="switch"
                id="ingredients-view-switch"
                class="form-check-input"
                onchange="ingredientsViewToggle(this)"
        >
        <label for="ingredients-view-switch" class="form-check-label">Nézet: Hozzávalók összesítve / Hozzávalók ételek szerint</label>
    </div>

    <div id="ingredients" class="table-responsive">
        <h3 class="text-success">Hozzávalók összesítve ({{ shoppingList.getRows|length }} sor):</h3>
        <table class="table table-bordered table-responsive">
            <thead class="bg-light-orange">
                <tr>
                    {% for header in shoppingList.getHeader %}
                        <th scope="col">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for rowId, row in shoppingList.getRows %}
                    <tr>
                        {% for colId, col in row %}
                            {% set cellId = rowId ~ '-' ~ colId %}
                            <td>
                                <span
                                        id="ingredient-cell-label-{{ cellId }}"
                                        class="form-check-label ingredient"
                                        onclick="this.classList.contains('ingredient-done')
                                        ? this.classList.remove('ingredient-done')
                                        : this.classList.add('ingredient-done')"
                                >
                                    {{ col }}
                                </span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="ingredients-by-food" class="table-responsive d-none">
        <h3 class="text-success">Hozzávalók ételek szerint ({{ totalRowCountByFood }} sor):</h3>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th scope="col"></th>
                    {% for header in shoppingListByFood.getHeader %}
                        <th scope="col" class="bg-light-orange">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for foodName, rows in shoppingListByFood.getRows %}
                    {% for rowId, row in rows %}
                        {% set isFirstRow = rowId == 0 %}
                        <tr class="{% if isFirstRow %}border-top{% endif %}">
                            <td class="{% if isFirstRow %}bg-light-orange{% endif %}">
                                {% if isFirstRow %}{{ foodName }}{% endif %}
                            </td>
                            {% for colId, col in row %}
                                {% set cellId = rowId ~ '-' ~ colId %}
                                <td>
                                        <span
                                                id="ingredient-cell-label-{{ cellId }}"
                                                class="form-check-label ingredient"
                                                onclick="this.classList.contains('ingredient-done')
                                                ? this.classList.remove('ingredient-done')
                                                : this.classList.add('ingredient-done')"
                                        >
                                            {{ col }}
                                        </span>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="sticky-bottom">
        <div class="row justify-content-center sticky-bottom-btn-row">
            <button
                    class="btn btn-info col-3 text-center"
                    type="button"
                    onclick="window.location.href=window.location.origin + '?{{ plannedShopping }}'">
                MODIFY
            </button>
            <div class="col-1"></div>
            <button
                    class="btn btn-secondary col-3 text-center"
                    type="button"
                    onclick="window.location.href=window.location.origin">
                DONE
            </button>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    {% include 'dark-theme.js.twig' %}

    const ingredientsViewTypeSummary = 'summary';
    const ingredientsViewTypeByFood = 'byFood';

    function ingredientsViewInit() {
        if (!document.getElementById('ingredients-view-switch')) {
            return;
        }

        if (getCookie('ingredientsView') === ingredientsViewTypeByFood) {
            document.getElementById('ingredients-view-switch').checked = true;
            document.getElementById('ingredients').classList.add('d-none');
            document.getElementById('ingredients-by-food').classList.remove('d-none');
            document.cookie = createIngredientsViewCookieString(ingredientsViewTypeByFood);

            return;
        }

        document.getElementById('ingredients-view-switch').checked = false;
        document.getElementById('ingredients').classList.remove('d-none');
        document.getElementById('ingredients-by-food').classList.add('d-none');
        document.cookie = createIngredientsViewCookieString(ingredientsViewTypeSummary);

        return;
    }

    function ingredientsViewToggle(input) {
        if (input.checked) {
            document.getElementById('ingredients').classList.add('d-none');
            document.getElementById('ingredients-by-food').classList.remove('d-none');
            document.cookie = createIngredientsViewCookieString(ingredientsViewTypeByFood);

            return;
        }

        document.getElementById('ingredients').classList.remove('d-none');
        document.getElementById('ingredients-by-food').classList.add('d-none');
        document.cookie = createIngredientsViewCookieString(ingredientsViewTypeSummary);

        return;
    }

    {% include 'cookie-handler.scripts.js.twig' %}
</script>
