{% macro recursiveLists(listItem) %}
    {% if listItem is array %}
        {% for key in listItem|keys %}
            {% if key is string %}
                <li class="clickable" onclick="done(this);">{{ key }}</li>
            {% endif %}
        {% endfor %}

        <ul>
            {% for key, subComment in listItem %}
                {{ _self.recursiveLists(subComment) }}
            {% endfor %}
        </ul>
    {% else %}
        <li class="clickable" onclick="done(this);">{{ listItem }}</li>
    {% endif %}
{% endmacro %}

<!doctype html>
<html lang="en">
{% include 'head.html.twig' %}
<body onload="ingredientsViewInit();">
<div class="container-fluid">
    <div id="bevasarlokozpont">
        <h1 class="display-6 text-success">Bevásárlóközpont:</h1>
        <p>{{ supermarket.name }}</p>
    </div>

    <div id="foods" class="table-responsive">
        <h1 class="display-6 text-success">Ételek ({{ foods.toArray|length }} db):</h1>
        <table class="table table-bordered">
            <thead class="bg-light-orange">
                <tr>
                    <th scope="col">Kép</th>
                    <th scope="col">Étel</th>
                    <th scope="col">Recept</th>
                    <th scope="col">Elkészítés</th>
                    <th scope="col">Kommentek</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for food in foods.toArray %}
                    {% set foodNameKey = food.name|replace({' ': '_'}) %}

                    <tr>
                        <td class="row-thumbnail">
                            <div class="food-thumbnail col-sm-12 col-md-8 col-lg-6 col-xl-4">
                                {% if food.thumbnailUrl %}
                                    <img src="{{ food.thumbnailUrl }}" alt="{{ food.name }}" class="img-fluid img-thumbnail">
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            {{ food.name }} <output id="portion-output-{{ foodNameKey }}">({{ food.portion }} Adag)</output>

                            <div class="input-group">
                                <input
                                        type="range"
                                        id="portion-{{ foodNameKey }}"
                                        value="{{ food.portion }}"
                                        name="portion-{{ foodNameKey }}"
                                        class="form-range"
                                        min="1"
                                        max="12"
                                        step="1"
                                        oninput="portionChange(this, '{{ foodNameKey }}', 'Adag')"
                                        onmouseup="portionMouseUp(this, '{{ foodNameKey }}')"
                                        ontouchend="portionMouseUp(this, '{{ foodNameKey }}')"
                                >
                            </div>
                        </td>
                        <td><a href="{{ food.recipeUrl }}" target="_blank">{{ food.recipeDomain }}</a></td>
                        <td>
                            <ol>
                                {% from _self import recursiveLists %}
                                {% for cookingStep in food.cookingSteps %}
                                    {{ recursiveLists(cookingStep, true) }}
                                {% endfor %}
                            </ol>
                        </td>
                        <td class="row-comment">
                            <ul>
                                {% from _self import recursiveLists %}
                                {% for comment in food.comments %}
                                    {{ recursiveLists(comment) }}
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr class="border">
    <h3>Nézet</h3>
    <div class="navbar d-inline-block form-check-inline">
        <input
                type="radio"
                name="view-switch"
                id="ingredients-view-type-summary"
                class="btn-check"
                autocomplete="off"
                value="summary"
                onchange="ingredientsViewToggle(this)"
        >
        <label for="ingredients-view-type-summary" class="btn btn-outline-info">
            Hozzávalók összesítve
        </label>
    </div>
    <div class="navbar d-inline-block form-check-inline">
        <input
                type="radio"
                name="view-switch"
                id="ingredients-view-type-by-food"
                class="btn-check"
                autocomplete="off"
                value="byFood"
                onchange="ingredientsViewToggle(this)"
        >
        <label for="ingredients-view-type-by-food" class="btn btn-outline-info">
            Hozzávalók ételek szerint
        </label>
    </div>
    <div class="navbar d-inline-block form-check-inline">
        <input
                type="radio"
                name="view-switch"
                id="ingredients-view-type-unfiltered-summary"
                class="btn-check"
                autocomplete="off"
                value="summaryUnfiltered"
                onchange="ingredientsViewToggle(this)"
        >
        <label for="ingredients-view-type-unfiltered-summary" class="btn btn-outline-info">
            Összes oszlop, hozzávalók összesítve
        </label>
    </div>
    <div class="navbar d-inline-block form-check-inline">
        <input
                type="radio"
                name="view-switch"
                id="ingredients-view-type-unfiltered-by-food"
                class="btn-check"
                autocomplete="off"
                value="byFoodUnfiltered"
                onchange="ingredientsViewToggle(this)"
        >
        <label for="ingredients-view-type-unfiltered-by-food" class="btn btn-outline-info">
            Összes oszlop, hozzávalók ételek szerint
        </label>
    </div>
    <hr class="border">

    <div id="ingredients-summary" class="table-responsive shopping-list">
        <h3 class="text-success">Hozzávalók összesítve ({{ shoppingList.getRows|length }} sor):</h3>
        <table class="table table-bordered table-responsive">
            <thead class="bg-light-orange">
                <tr>
                    {% for header in shoppingList.getHeader %}
                        <th scope="col">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for rowId, row in shoppingList.getRows %}
                    <tr>
                        {% for colId, col in row %}
                            {% set cellId = rowId ~ '-' ~ colId %}
                            <td>
                                <span
                                        id="ingredient-cell-label-{{ cellId }}"
                                        class="form-check-label clickable"
                                        onclick="done(this);"
                                >
                                    {{ col }}
                                </span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="ingredients-by-food" class="table-responsive shopping-list">
        <h3 class="text-success">Hozzávalók ételek szerint ({{ totalRowCountByFood }} sor):</h3>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th scope="col">&#128722;</th>
                    {% for header in shoppingListByFood.getHeader %}
                        <th scope="col" class="bg-light-orange">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for foodName, rows in shoppingListByFood.getRows %}
                    {% for rowId, row in rows %}
                        {% set isFirstRow = rowId == 0 %}
                        <tr class="{% if isFirstRow %}border-top{% endif %}">
                            <td class="{% if isFirstRow %}bg-light-orange{% endif %}">
                                {% if isFirstRow %}{{ foodName }}{% endif %}
                            </td>
                            {% for colId, col in row %}
                                {% set cellId = rowId ~ '-' ~ colId %}
                                <td>
                                        <span
                                                id="ingredient-cell-label-{{ cellId }}"
                                                class="form-check-label clickable"
                                                onclick="done(this);"
                                        >
                                            {{ col }}
                                        </span>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="unfiltered-ingredients-summary" class="table-responsive shopping-list">
        <h3 class="text-success">Hozzávalók összesítve ({{ unfilteredShoppingList.getRows|length }} sor):</h3>
        <table class="table table-bordered table-responsive">
            <thead class="bg-light-orange">
                <tr>
                    {% for header in unfilteredShoppingList.getHeader %}
                        <th scope="col">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for rowId, row in unfilteredShoppingList.getRows %}
                    <tr>
                        {% for colId, col in row %}
                            {% set cellId = rowId ~ '-' ~ colId %}
                            <td>
                                <span
                                        id="ingredient-cell-label-{{ cellId }}"
                                        class="form-check-label clickable"
                                        onclick="done(this);"
                                >
                                    {{ col }}
                                </span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="unfiltered-ingredients-by-food" class="table-responsive shopping-list">
        <h3 class="text-success">Hozzávalók ételek szerint ({{ totalRowCountByFood }} sor):</h3>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th scope="col">&#128722;</th>
                    {% for header in unfilteredShoppingListByFood.getHeader %}
                        <th scope="col" class="bg-light-orange">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for foodName, rows in unfilteredShoppingListByFood.getRows %}
                    {% for rowId, row in rows %}
                        {% set isFirstRow = rowId == 0 %}
                        <tr class="{% if isFirstRow %}border-top{% endif %}">
                            <td class="{% if isFirstRow %}bg-light-orange{% endif %}">
                                {% if isFirstRow %}{{ foodName }}{% endif %}
                            </td>
                            {% for colId, col in row %}
                                {% set cellId = rowId ~ '-' ~ colId %}
                                <td>
                                        <span
                                                id="ingredient-cell-label-{{ cellId }}"
                                                class="form-check-label clickable"
                                                onclick="done(this);"
                                        >
                                            {{ col }}
                                        </span>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="drug-summary" class="table-responsive">
        {% if drugShoppingList.rows|length > 0 %}
            <h3 class="text-success">Drogéria ({{ drugShoppingList.rows|length }} sor):</h3>
            <table class="table table-bordered table-responsive">
                <thead class="bg-light-orange">
                    <tr>
                        {% for header in drugShoppingList.header %}
                            <th scope="col">{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for rowId, row in drugShoppingList.rows %}
                        <tr>
                            {% for colId, col in row %}
                                {% set cellId = rowId ~ '-' ~ colId %}
                                <td>
                                <span
                                        id="drug-cell-label-{{ cellId }}"
                                        class="form-check-label clickable"
                                        onclick="done(this);"
                                >
                                    {{ col }}
                                </span>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <div class="sticky-bottom">
        <div class="row justify-content-center sticky-bottom-btn-row">
            <a href="/?{{ plannedShopping }}" class="btn btn-warning col-3 text-center" title="MODIFY">&#11013;</a>
            <div class="col-1"></div>
            <a href="{{ ingredientStorageUrl }}" class="btn btn-info col-3 text-center" title="STORAGE">&#128230;</a>
            <div class="col-1"></div>
            <a href="/" class="btn btn-secondary col-3 text-center" title="HOME">&#127968;</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    {% include 'dark-theme.js.twig' %}
    {% include 'helper.js.twig' %}

    function portionChange(elem, foodNameKey, measure) {
        const portion = elem.value;

        document.getElementById('portion-output-' + foodNameKey).value = '(' + portion + ' ' + measure + ')';
    }

    function portionMouseUp(elem, foodNameKey) {
        const portion = elem.value;
        const url = new URL(window.location.href);
        let update = false;

        update = update || updateUrlSearchParams('portion-' + foodNameKey, portion, url);

        if (update) {
            window.history.pushState(null, '', url.toString());
            window.location.reload();
        }
    }

    const ingredientsViewTypeSummary = 'summary';
    const ingredientsViewTypeByFood = 'byFood';
    const ingredientsViewTypeUnfilteredSummary = 'summaryUnfiltered';
    const ingredientsViewTypeUnfilteredByFood = 'byFoodUnfiltered';

    function ingredientsViewInit() {
        const viewSwitches = document.getElementsByName('view-switch');
        const shoppingLists = document.getElementsByClassName('shopping-list');

        if (!viewSwitches || !shoppingLists) {
            return;
        }

        viewSwitches.forEach((viewSwitch) => {
            viewSwitch.checked = false;
        });

        Array.from(shoppingLists).forEach((shoppingList) => {
            shoppingList.classList.add('d-none');
        });

        const ingredientsViewType = getCookie('ingredientsView');

        switch (ingredientsViewType) {
            case ingredientsViewTypeUnfilteredSummary:
                document.getElementById('ingredients-view-type-unfiltered-summary').checked = true;
                document.getElementById('unfiltered-ingredients-summary').classList.remove('d-none');
                document.cookie = createIngredientsViewCookieString(ingredientsViewTypeUnfilteredSummary);

                break;
            case ingredientsViewTypeUnfilteredByFood:
                document.getElementById('ingredients-view-type-unfiltered-by-food').checked = true;
                document.getElementById('unfiltered-ingredients-by-food').classList.remove('d-none');
                document.cookie = createIngredientsViewCookieString(ingredientsViewTypeUnfilteredByFood);

                break;
            case ingredientsViewTypeByFood:
                document.getElementById('ingredients-view-type-by-food').checked = true;
                document.getElementById('ingredients-by-food').classList.remove('d-none');
                document.cookie = createIngredientsViewCookieString(ingredientsViewTypeByFood);

                break;
            case ingredientsViewTypeSummary:
            default:
                document.getElementById('ingredients-view-type-summary').checked = true;
                document.getElementById('ingredients-summary').classList.remove('d-none');
                document.cookie = createIngredientsViewCookieString(ingredientsViewTypeSummary);

                break;
        }

        return;
    }

    function ingredientsViewToggle(input) {
        if (input.checked) {
            document.cookie = createIngredientsViewCookieString(input.value);

            ingredientsViewInit();

            return;
        }

        return;
    }

    function done(elem) {
        if (elem.classList.contains('done')) {
            elem.classList.remove('done');

            return;
        }

        elem.classList.add('done');
    }

    {% include 'cookie-handler.scripts.js.twig' %}
</script>
