<!doctype html>
<html lang="en">
{% include 'head.html.twig' %}
<body>
<div class="container-fluid">
    <form action="planned" method="get" class="row">
        <fieldset class="row mb-2">
            <legend class="col-form-label col-md-12 pt-0">
                <span class="display-6">Hova mész bevásárolni?</span>
            </legend>
            {% for availableSupermarket in availableSupermarkets %}
                {% set availableSupermarketKey = availableSupermarket|replace({' ': '_'}) %}
                <div class="col-md-12">
                    <div class="form-check">
                        <input
                                type="radio"
                                id="{{ availableSupermarketKey }}"
                                value="{{ availableSupermarket }}"
                                name="supermarket"
                                class="form-check-input"
                                {% if availableSupermarket == defaultSupermarket %}checked=checked{% endif %}
                        >
                        <label for="{{ availableSupermarketKey }}" class="form-check-label">
                            {{ availableSupermarket }}
                        </label>
                    </div>
                </div>
            {% endfor %}
        </fieldset>

        <fieldset class="row mb-2">
            <legend class="col-form-label col-md-12 pt-0">
                <span class="display-6">Melyik kajákhoz kell bevásárolni?</span>
            </legend>
            {% for availableFood in availableFoods %}
                {% set availableFoodName = availableFood.name %}
                {% set availableFoodNameKey = availableFoodName|replace({' ': '_'}) %}
                {% set isAvailableFoodSelected = selectedFoods[availableFoodName] is defined %}
                {% set portion = isAvailableFoodSelected ? selectedFoods[availableFoodName] : availableFood.defaultPortion %}
                <div class="col-md-8">
                    <div class="form-check form-switch">
                        <input
                                type="checkbox"
                                role="switch"
                                id="{{ availableFoodNameKey }}"
                                value="{{ availableFoodName }}"
                                name="food-{{ availableFoodNameKey }}"
                                class="form-check-input"
                                onchange="this.checked
                                        ? document.getElementById('portion-{{ availableFoodNameKey }}').disabled = ''
                                        : document.getElementById('portion-{{ availableFoodNameKey }}').disabled = 'disabled'"
                                {% if isAvailableFoodSelected %}checked="checked"{% endif %}
                        >
                        <label for="{{ availableFoodNameKey }}" class="form-check-label">{{ availableFoodName }}</label>
                        <output id="portion-output-{{ availableFoodNameKey }}">({{ portion }} Adag)</output>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input
                                type="range"
                                id="portion-{{ availableFoodNameKey }}"
                                value="{{ portion }}"
                                name="portion-{{ availableFoodNameKey }}"
                                class="form-range"
                                min="1"
                                max="12"
                                step="1"
                                {% if not isAvailableFoodSelected %}disabled="disabled"{% endif %}
                                oninput="document.getElementById('portion-output-{{ availableFoodNameKey }}').value = '(' + this.value + ' Adag)'"
                        >
                    </div>
                </div>
            {% endfor %}
        </fieldset>

        <div class="sticky-bottom">
            <div class="row justify-content-center sticky-bottom-btn-row">
                <button
                        class="btn btn-warning col-3 text-center"
                        type="button"
                        onclick="location.href=window.location.origin">
                    RESET
                </button>
                <div class="col-1"></div>
                <button
                        class="btn btn-primary col-3 text-center"
                        type="submit">
                    PLAN
                </button>
            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    {% include 'dark-theme.js.twig' %}
</script>
</body>
</html>
